/* =====================================================================================================================
   Start Default styles
   ===================================================================================================================== */

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --green-theme: #48d259;
    --gray-800: #1c1c1c;
    --gray-900: #000;
    --gray-300: #e7e7e7;
    --gray-200: #f9f9f9;
}

/* Container Similar ao Bootstrap */
.container {
    width: 100%;
    padding: 0 15px;
    margin-inline: auto;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* =====================================================================================================================
   End Default styles
   ===================================================================================================================== */

/* =====================================================================================================================
   Start header styles
   ===================================================================================================================== */
/* Desktop */
.header {
    background-color: var(--gray-800);
    padding: 1.5rem 0;
}

.menu-desktop {
    display: flex;
    justify-content: space-between;
}

.menu-desktop nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
}

.menu-desktop nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom: solid 1px transparent;
    transition: 0.4s;
}

.menu-desktop nav ul a:hover {
    border-bottom: solid 1px #fff;
    text-shadow: 1px 1px 5px #ffffff6b;
}

/* Mobile */
.menu-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobile {
    display: none;
}

.menu-hamburguer {
    background-color: var(--gray-800);
    position: absolute;
    height: 100dvh;
    width: 0;
    right: 0;
    top: 0;
    padding: 0;
    transition: 0.4s;
    overflow: hidden;
}

.menu-active {
    width: 50%;
    padding: 2rem;
    z-index: 1000;
}

.menu-hamburguer.menu-active {
    width: 400px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.menu-hamburguer.menu-active + .backdrop {
    opacity: 1;
    visibility: visible;
}

.header-hamburguer {
    display: flex;
    justify-content: space-between;
}

.menu-hamburguer nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.menu-hamburguer nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom: solid 1px transparent;
    transition: 0.4s;
}

.menu-hamburguer nav ul a:hover {
    border-bottom: solid 1px #fff;
    text-shadow: 1px 1px 5px #ffffff6b;
}
/* Breakpoint */
@media (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .menu-mobile {
        display: flex;
    }
}

@media (max-width: 400px) {
    .menu-hamburguer.menu-active {
        width: 84%;
    }
}
/* =====================================================================================================================
   End header styles
   ===================================================================================================================== */

/* =====================================================================================================================
   Start Banner styles
   ===================================================================================================================== */
.banner {
    background-color: var(--gray-900);
    padding: 7rem 0;
    background-image: url("./../img/bg-image-home.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.banner-descricao {
    font-size: 15px;
}

.banner-titulo {
    font-size: 48px;
}

.search-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.banner select {
    background-color: var(--green-theme);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: solid 5px var(--green-theme);
    font-weight: 600;
    width: 150px;
    font-size: 15px;
}

.banner select:focus {
    outline-color: #1c1c1c;
}

.search-buttons {
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 5px;
    padding: 0 0 0 0.5rem;
}

.search-buttons label {
    margin-right: 1rem;
}

.search-buttons input {
    height: 42px;
    width: 400px;
    background-color: var(--gray-300);
    border: 0;
}

.search-buttons input:focus {
    outline-width: 0.5px;
    outline-color: var(--green-theme);
}

.search-buttons button {
    height: 44px;
    width: 50px;
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: var(--green-theme);
}

@media (max-width: 768px) {
    .banner {
        padding: 3rem 0;
    }
    .banner-descricao {
        font-size: 12px;
        width: 240px;
        margin-inline: auto;
    }

    .search-banner {
        margin-top: 2rem;
    }

    .banner-titulo {
        font-size: 20px;
    }

    .search-buttons input {
        width: 200px;
    }
}

@media (max-width: 576px) {
    .search-banner {
        flex-direction: column;
    }
}

/* =======================================================================================================================
   End Banner styles
   ===================================================================================================================== */

/* =====================================================================================================================
   Start Serviços styles
   ===================================================================================================================== */
.home-servicos {
    padding: 40px 0;
    background-color: var(--gray-300);
}

.home-servicos .servico-titulo,
.home-servicos .servico-descricao {
    text-align: center;
    margin-bottom: 2rem;
}

.home-servicos .servico-titulo {
    font-size: 2rem;
}

.home-servicos .servico-descricao {
    font-size: 15px;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.img-destaque {
    border-radius: 5px 5px 0 0;
    margin-bottom: -4px;
}

.servico-body {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.247);
    padding: 3rem 2rem;
    border-radius: 0 0 5px 5px;
}

.servico-body .avatar {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 1rem;
}

.servico-body .avatar .img-user {
    border-radius: 50%;
}

.servico-body h3 {
    font-weight: 700;
    font-size: 16px;
}

.servico-link {
    color: black;
}

.servico-body span {
    color: var(--green-theme);
}

.servico-body .servico-agendar {
    background-color: transparent;
    color: var(--green-theme);
    border: solid 1px var(--green-theme);
    border-radius: 5px;
    width: 100%;
    transition: 0.6s;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 600;
}

.servico-body .servico-agendar:hover {
    background-color: var(--green-theme);
    color: #fff;
    transform: scale(1.05);
}

/* =====================================================================================================================
   End Serviços styles
   ===================================================================================================================== */

/* =====================================================================================================================
   Start Porque styles
   ===================================================================================================================== */


   
/* =====================================================================================================================
   End Porque styles
   ===================================================================================================================== */
